<!-- ejs values: screen_name: string, selections: Array<{ selection_name: string, selection_location: string }> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trent School Location Guesser</title>
    <link rel="stylesheet" href="<%- url_slug -%>/styles/theme.css">
    <link rel="stylesheet" href="<%- url_slug -%>/styles/main.css">

    <link rel="icon" type="image/svg+xml" href="<%- url_slug -%>/resources/icon.svg">
  </head>
  <body>
    <header>
      <div class="headerContent">
        <a href="/" class="circle">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white">
            <path d="m313-440 196 196q12 12 11.5 28T508-188q-12 11-28 11.5T452-188L188-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l264-264q11-11 27.5-11t28.5 11q12 12 12 28.5T508-715L313-520h447q17 0 28.5 11.5T800-480q0 17-11.5 28.5T760-440H313Z"/>
          </svg>
        </a>
        <h1><%- screen_name -%> Selection</h1>
        <span></span>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="currentColor" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,186.7C384,149,480,107,576,122.7C672,139,768,213,864,234.7C960,256,1056,224,1152,224C1248,224,1344,256,1392,272L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
    </header>
    <main>
      <!-- Buttons -->
      <div class="selection-button-grid">
        <% selections.forEach(({ selection_name, selection_location }) => { %>
          <a class="button" href="<%- selection_location -%>"><%= selection_name -%></a>
        <% }); %>
      </div>
    </main>
  </body>
</html>